{% extends "home.html" %}

{% block content %}

<div class="m-3 rounded-lg">
    <table class=" w-full text-center">
        <thead class="bg-blue-900 text-white italic">
            <th class=" rounded-l-lg p-2">Participant List</th>
            <th class="p-2">Medical Records</th>
            <th class="rounded-r-lg p-2">Action</th>
        </thead>
        <tbody>
            <tr>
                <td class="flex justify-center mt-2">
                    <div class=" flex gap-2 items-center border border-solid shadow-black shadow-sm w-fit">
                        <div>
                            <img src="../static/image/participant.jpg" class=" h-[7vw] rounded-lg" alt="profile pic">
                        </div>
                        <div class=" text-left text-[1.2vw] font-semibold">
                            <label class=" pr-[4.6vw]">Name:</label>
                            <span>Jonathan Duke</span>
                            <br>
                            <label class="pr-[0.9vw]">Date of Birth:</label>
                            <span>1/10/2024</span>
                            <br>
                            <label class=" pr-[4.6vw]">Phone:</label>
                            <span>xxx-xxx-xxxx</span>
                            <br>
                            <label class=" pr-[3.8vw]">Address:</label>
                            <span>New york</span>
                        </div>
                    </div>
                </td>

                <td class="flex justify-center mt-2">
                    <div class="flex">
                        <img src="../static/image/drug_book.png" alt="drug book" class="h-[8vh]">
                        <img src="../static/image/pen_book.png" alt="pen book" class="h-[8vh]">
                        <img src="../static/image/note_book.png" alt="note book" class="h-[8vh]">
                    </div>
                </td>
                <td>11</td>
            </tr>
            <tr>
                <td>21</td>
                <td>22</td>
                <td>23</td>
            </tr>
            <tr>
                <td>11</td>
                <td>11</td>
                <td>11</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}