{% extends "home.html" %}

{% block theme %}
<div class=" border border-solid rounded-full bg-blue-900 text-white w-full flex items-center text-sm p-1">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="search" name="search" id="" placeholder="Search" class=" pl-3 w-full rounded-r-full bg-blue-900">
</div>
{% endblock %}

{% block participant %}
Participants - <span class=" italic font-thin">Frank Edwards</span>
{% endblock %}

{% block back %}
<div class=" text-white bg-blue-900 p-1 pr-2 pl-2 rounded-full">
    <i class="fa-solid fa-arrow-left"></i>
</div>
{% endblock %}

{% block create %}
<button class=" bg-blue-900 text-white p-2 rounded-lg" id="create_parti_btn">Create Prescription <span class="ml-1">+</span></button>
{% endblock %}

{% block content %}
<div>
    <div id="drug_header" class="m-3">
        <table class=" w-full text-center">
            <thead class="bg-blue-900 text-white italic">
                <th class=" rounded-l-lg border-r-2 p-1">Drug</th>
                <th class="border-r-2 p-1">Date</th>
                <th class="border-r-2 p-1">Time</th>
                <th class="border-r-2 p-1">Date From</th>
                <th class="border-r-2 p-1">Date To</th>
                <th class="border-r-2 p-1">Quantity</th>
                <th class="border-r-2 p-1">Frequency</th>
                <th class="border-r-2 p-1">Todays Frequency</th>
                <th class="border-r-2 p-1">Place</th>
                <th class="rounded-r-lg p-1">Action</th>
            </thead>
        </table>
    </div>
</div>
{% endblock %}



{% block create_form %}
<!-- Create Drug Form -->
<div class=" mt-10 hidden" id="create_parti_div">
    <div class="flex justify-center items-center">
        <div class="h-3/4 w-2/4 p-3 rounded-xl" style="background: linear-gradient(to bottom, white 7%, #013263 5%);">
            <div class=" flex justify-center">
                <p class=" font-bold">Add Frank's Mar</p>
            </div>
            <div class="mt-5">
                <form method="post" id="create_participant">
                    <div class="flex justify-around flex-wrap mt-2">
                        <div>
                            <select name="drug_id" id="drug_id" required class=" text-slate-400 w-[20vw] rounded-full pl-2 bg-inherit border border-solid">
                                <option value="select_drug" id="select_drug" >Search Drug</option>
                                <option class=" text-black">Panadol</option>
                            </select>
                        </div>
                        <div>
                            <input class=" w-[20vw] rounded-full pl-2 bg-inherit border border-solid" type="text" name="reason_for_medication" id="reason_for_medication" placeholder="Enter Reason for Medication" required>
                        </div>
                    </div>
                    <div class="flex justify-around flex-wrap mt-2">
                        <div>
                            <p class="text-white">Prescriber*</p>
                            <input class=" bg-inherit border border-solid w-[20vw] rounded-full pl-2 text-slate-400" type="text" name="prescriber" id="prescriber" required placeholder="Enter name">
                        </div>
                        <div>
                            <p class="text-white ">Pharmacy*</p>
                            <select name="pharmacy_id" id="pharmacy_id" required class=" bg-inherit border border-solid text-slate-400 w-[20vw] rounded-full pl-2">
                                <option value="select_gender" id="select_gender" >Select Pharmacy</option>
                                <option class=" text-black">2Bro Pharmacy</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="flex justify-around flex-wrap mt-2">
                        <div>
                            <p class="text-white">Quantity/Dosage*</p>
                            <input class=" bg-inherit border border-solid w-[20vw] rounded-full pl-2 text-slate-400" type="number" name="quantity_dosage" id="quantity_dosage" placeholder="Enter Quantity" required>
                        </div>
                        <div>
                            <p class="text-white">Refills*</p>
                            <input class=" bg-inherit border border-solid w-[20vw] rounded-full pl-2 text-slate-400" type="number" name="refills" id="refills" placeholder="6" required>
                        </div>
                    </div>
                    <div class="flex justify-around flex-wrap mt-2">
                        <div>
                            <p class="text-white">Start Date*</p>
                            <input class=" bg-inherit border border-solid w-[20vw] rounded-full pl-2 text-slate-400" type="date" name="start_date" id="start_date" placeholder="11/03/2024" required>
                        </div>
                        <div>
                            <p class="text-white">Expiry*</p>
                            <input class=" bg-inherit border border-solid w-[20vw] rounded-full pl-2 text-slate-400" type="date" name="expiry_date" id="expiry_date" placeholder="06/03/2025" required>
                        </div>
                    </div>
                    <div class="ml-[1.8vw] mt-2">
                        <p class="text-white">Dose*</p>
                        <input class=" bg-inherit border border-solid w-[20vw] rounded-full pl-2 text-slate-400" type="number" name="dose" id="dose" placeholder="Enter Dose" required>
                    </div>
                    <div class="ml-[1.8vw] mt-2">
                        <p class="text-white">Frequency*</p>
                        <input class=" bg-inherit border border-solid w-[20vw] rounded-full pl-2 text-slate-400" type="number" name="frequency" id="frequency" placeholder="4" required>
                    </div>
                    <div class="flex justify-around flex-wrap mt-3">
                        <div>
                            <input class=" bg-inherit border border-solid w-[20vw] rounded-full pl-2 text-slate-400" type="time" name="dose1" id="dose1" placeholder="Dose 1" required>
                        </div>
                        <div>
                            <input class=" bg-inherit border border-solid w-[20vw] rounded-full pl-2 text-slate-400" type="time" name="dose2" id="dose2" placeholder="Dose 2" required>
                        </div>
                    </div>
                    <div class="flex justify-around flex-wrap mt-3">
                        <div>
                            <input class=" bg-inherit border border-solid w-[20vw] rounded-full pl-2 text-slate-400" type="time" name="dose3" id="dose3" placeholder="Dose 3" required>
                        </div>
                        <div>
                            <input class=" bg-inherit border border-solid w-[20vw] rounded-full pl-2 text-slate-400" type="time" name="dose4" id="dose4" placeholder="Dose 4" required>
                        </div>
                    </div>
                    <div class="mt-3">
                        <textarea class=" bg-inherit border border-solid w-[43.1vw] ml-[1.8vw] rounded-xl p-2 h-20" type="text" name="comment" id="comment" placeholder="Enter Comment"></textarea>
                    </div>
                </form>
                <div class="flex justify-center gap-5 mt-5">
                    <button id="cancle_parti_btn" class=" bg-white border border-solid border-red-500 p-1 pl-3 pr-3 rounded-xl text-red-600">Cancle</button>
                    <button form="create_participant" type="submit" class=" bg-white border border-solid border-blue-500 p-1 pl-3 pr-3 rounded-xl text-blue-600">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/participant.js"></script>
{% endblock %}