{% extends "home.html" %}

{% block theme %}
<div class=" border border-solid rounded-full bg-blue-900 text-white w-full flex items-center text-sm p-1">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="search" name="search" id="" placeholder="Search" class=" pl-3 w-full rounded-r-full bg-blue-900">
</div>
{% endblock %}

{% block back %}
<div class=" text-white bg-blue-900 p-1 pr-2 pl-2 rounded-full">
    <i class="fa-solid fa-arrow-left"></i>
</div>
{% endblock %}

{% block create %}

{% endblock %}

{% block content %}
<div class=" flex justify-center p-3 gap-3 flex-wrap">
    <a href="/settings" class=" p-3 border border-solid border-blue-600 flex justify-center items-center shadow-sm shadow-black rounded-xl">
        <div class="">
            <div class="flex justify-center">
                <img src="../static/image/caregiver.png" alt="profile picture" class=" h-20">
            </div>
            <p class=" pt-2 text-blue-600 font-bold">Jonathan Duke</p>
        </div>
    </a>
</div>
{% endblock %}