<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/output.css">
    <script src="https://kit.fontawesome.com/c5e4d5e6fa.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <div class=" bg-blue-800 h-3/4 w-2/4">
            <div class=" flex justify-center">
                <img src="../static/image/lady.webp" alt="profile picture" class=" h-[7vw]">
            </div>
            <div>
                <form method="post">
                    <div>
                        <div>
                            <p>First Name*</p>
                            <input type="text" name="first_name" id="first_name" placeholder="Enter first name" required>
                        </div>
                        <div>
                            <p>Last Name*</p>
                        </div>

                </form>
            </div>
        </div>
     </div>
</body>
</html>