<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/output.css">
    <script src="https://kit.fontawesome.com/c5e4d5e6fa.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        #split-background {
          
          background: linear-gradient(to bottom, white 5%, #013263 5%);
        }
      </style>
</head>
<body class=" bg-slate-600">
    <div class="flex justify-center items-center">
        <div class="h-3/4 w-2/4 p-3 rounded-xl" id="split-background">
            <div class=" flex justify-center">
                <img src="../static/image/lady.webp" alt="profile picture" class=" h-[7vw]">
            </div>
            <div>
                <form method="post" id="create_participant">
                    <div class="flex justify-between flex-wrap">
                        <div>
                            <p>First Name*</p>
                            <input type="text" name="first_names" id="first_names" placeholder="Enter first name" required>
                        </div>
                        <div>
                            <p>Last Name*</p>
                            <input type="text" name="last_names" id="last_names" placeholder="Enter last name" required>
                        </div>
                    </div>
                    <div class="flex justify-between flex-wrap">
                        <div>
                            <p>Gender*</p>
                            <select name="gender" id="gender" required>
                                <option value="select_gender" id="select_gender">Select gender</option>
                                <option value="male" id="male">Male</option>
                                <option value="female" id="female">Female</option>
                            </select>
                        </div>
                        <div>
                            <p>Date of Birth*</p>
                            <input type="date" name="date_of_birth" id="date_of_birth" required>
                        </div>
                    </div>
                    <div class="flex justify-between flex-wrap">
                        <div>
                            <p>Legal Status*</p>
                            <select name="legal_status" id="legal_status" required>
                                <option value="select_legal_status" id="select_legal_status">Select Legal Status</option>
                                <option value="single" id="single">Single</option>
                                <option value="married" id="married">Married</option>
                                <option value="divorced" id="divorced">Divorced</option>
                            </select>
                        </div>
                        <div>
                            <p>Maid Number*</p>
                            <input type="number" name="'maid_number" id="'maid_number" required>
                        </div>
                    </div>
                    <div class="flex justify-between flex-wrap">
                        <div>
                            <p>SSN*</p>
                            <input type="text" name="ssn" id="ssn" placeholder="Enter Enter SSN" required>
                        </div>
                        <div>
                            <p>Phone Number*</p>
                            <input type="number" name="phone_number" id="phone_number" placeholder="xxx-xxx-xxxx" required>
                        </div>
                    </div>
                    <div>Add More information*</div>
                    <div>
                        <p>Address 1*</p>
                        <input type="text" name="address_1" id="address_1" placeholder="Enter address 1" required>
                    </div>
                    <div>
                        <p>Address 2 <span class=" italic">(optional)</span></p>
                        <input type="text" name="address_2" id="address_2" placeholder="Enter address 2">
                    </div>
                    <div class="flex justify-between flex-wrap">
                        <div>
                            <p>City, State*</p>
                            <input type="text" name="city_state" id="city_state" placeholder="Select City">
                        </div>
                        <div>
                            <p>Zip code*</p>
                            <input type="number" name="zip_code" id="zip_code" placeholder="Enter Zip code">
                        </div>
                    </div>
                </form>
                <div class="flex justify-center gap-5">
                    <button type="button">Cancle</button>
                    <button form="create_participant" type="submit">Save Changes</button>
                </div>
            </div>
        </div>
     </div>
</body>
</html>