{% extends "home.html" %}

{% block participant %}
Participants - <span class=" italic font-thin">Jonathan Duke</span>
{% endblock %}

{% block back %}
<div class="flex gap-4 items-center">
    <div class=" text-white bg-blue-900 p-1 pr-2 pl-2 rounded-full">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
    <div>
        <i class="fa-solid fa-calendar-days"></i>
        <span>October, 17th 2024</span>
    </div>
</div>
{% endblock %}

{% block create %}
<div class=" text-white bg-blue-900 p-2 rounded-full">12:36</div>
{% endblock %}

{% block content %}
<div>
    <div id="prescription" class="m-3">
        <table class=" w-full text-center text-[1.5vw]" id="prescription_table">
            <thead class="bg-blue-900 text-white italic ">
                <th class=" rounded-l-lg p-2">Name</th>
                <th class=" p-2">Dose</th>
                <th class=" p-2">Time</th>
                <th class=" p-2">Instruction</th>
                <th class="rounded-r-lg p-2">Action</th>
            </thead>
            <tbody id="prescription_body">
                <tr class=" border border-solid">
                    <td class="p-4">
                        <div class="shadow-black shadow-sm">Paracetamol</div>
                    </td>
                    <td class="p-4">
                        <div class="shadow-black shadow-sm">2</div>
                    </td>
                    <td class="p-4">
                        <div class="shadow-black shadow-sm">7:AM</div>
                    </td>
                    <td class="p-4">
                        <div class="shadow-black shadow-sm">Take by mouth...</div>
                    </td>
                    <td class=" flex gap-2 justify-center p-2">
                        <div class=" w-6 h-6 rounded-full shadow-black shadow-sm" role="button" id="create_parti_btn">
                            <img src="../static/image/drug_capsule.jpg" alt="drug capsule" class=" h-full rounded-full p-[2px]" id="prescription_action">
                        </div>
                        <input type="checkbox" name="" id="prescription_checkbox">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block create_form %}
<div class=" mt-10 hidden" id="create_parti_div">
    <div class=" flex justify-center" id="cancle_parti_btn">
        <div class="h-3/4 w-72 p-3 rounded-xl bg-blue-950">
            <div class=" text-white text-center">Choose Action</div>

            <div class=" flex justify-between mt-3">
                <button id="meds_btn" class="bg-white border border-solid border-blue-500 p-1 pl-3 pr-3 rounded-full text-blue-700 w-32">Meds given</button>
                <button id="visit_btn" class="bg-inherit border border-solid  p-1 pl-3 pr-3 rounded-full text-white w-32">Home Visit</button>
            </div>
            <div class=" flex justify-between mt-3">
                <button id="refuse_btn" class="bg-inherit border border-solid  p-1 pl-3 pr-3 rounded-full text-white w-32">Refuse</button>
                <button id="day_btn" class="bg-inherit border border-solid  p-1 pl-3 pr-3 rounded-full text-white w-32">Day Progrm</button>
            </div>
            <div class=" flex justify-between mt-3">
                <button id="hold_btn" class="bg-inherit border border-solid  p-1 pl-3 pr-3 rounded-full text-white w-32">Hold</button>
                <button id="hospital_btn" class="bg-inherit border border-solid  p-1 pl-3 pr-3 rounded-full text-white w-32">Hospital</button>
            </div>
            <button id="work_btn" class="bg-inherit border border-solid  p-1 pl-3 pr-3 rounded-full text-white w-32 mt-3">Work</button>
        </div>
    </div>
</div>

<script src="../static/js/prescription.js"></script>
{% endblock %}