{% extends "home.html" %}

{% block participant %}
Participants - <span class=" italic font-thin">Jonathan Duke</span>
{% endblock %}

{% block back %}
<div class="flex gap-4 items-center">
    <div class=" text-white bg-blue-900 p-1 pr-2 pl-2 rounded-full">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
    <div>
        <i class="fa-solid fa-calendar-days"></i>
        <span>October, 17th 2024</span>
    </div>
</div>
{% endblock %}

{% block create %}
<div class=" text-white bg-blue-900 p-2 rounded-full">12:36</div>
{% endblock %}

{% block content %}
<div>
    <div id="prescription" class="m-3">
        <table class=" w-full text-center text-[1vw]" id="prescription_table">
            <thead class="bg-blue-900 text-white italic ">
                <th class=" rounded-l-lg p-2">Name</th>
                <th class=" p-2">Dose</th>
                <th class=" p-2">Time</th>
                <th class=" p-2">instruction</th>
                <th class="rounded-r-lg p-2">Action</th>
            </thead>
            <tbody id="prescription_body">
                <tr class=" border border-solid">
                    <td class="p-4">
                        <div class="shadow-black shadow-sm">Paracetamol</div>
                    </td>
                    <td class="p-4">
                        <div class="shadow-black shadow-sm">2</div>
                    </td>
                    <td class="p-4">
                        <div class="shadow-black shadow-sm">7:AM</div>
                    </td>
                    <td class="p-4">
                        <div class="shadow-black shadow-sm">Take by mouth...</div>
                    </td>
                    <td class=" flex gap-2 justify-center p-2">
                        <div class=" w-6 h-6 rounded-full shadow-black shadow-sm"> </div>
                        <input type="checkbox" name="" id="">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}