{% extends "home.html" %}

{% block content %}

<div class="m-3 rounded-lg">
    <table class=" w-full text-center">
        <thead class="bg-blue-900 text-white italic">
            <th class=" rounded-l-lg p-2">Participant List</th>
            <th class="p-2">Medical Records</th>
            <th class="rounded-r-lg p-2">Action</th>
        </thead>
        <tbody>
            <tr>
                <td class=" mt-2">
                    <div class=" flex gap-2 items-center border border-solid shadow-black shadow-sm w-fit">
                        <div>
                            <img src="../static/image/profile_picture.png" class=" " alt="profile pic">
                        </div>
                        <div class=" text-left font-semibold">
                            <label class=" pr-[4.6vw]">Name:</label>
                            <span>Jonathan Duke</span>
                            <br>
                            <label class="pr-[0.9vw]">Date of Birth:</label>
                            <span>1/10/2024</span>
                            <br>
                            <label class=" pr-[4.6vw]">Phone:</label>
                            <span>xxx-xxx-xxxx</span>
                            <br>
                            <label class=" pr-[3.8vw]">Address:</label>
                            <span>New york</span>
                        </div>
                    </div>
                </td>

                <td class=" mt-2">
                    <div class="flex">
                        <a href="/drug">
                            <img src="../static/image/drug_book.png" alt="drug book" class="h-[5vw]">
                        </a>
                        <img src="../static/image/medical_note.png" alt="pen book" class="h-[6vw]">
                        <img src="../static/image/notebook.png" alt="note book" class="h-[6vw]">
                    </div>
                </td>
                <td>
                    <div class="flex text-sm gap-2 items-center h-[8vw]">
                        <img src="../static/image/pen.png" alt="">
                        <div>
                            <label class="switch">
                                <input type="checkbox" />
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}