{% extends "home.html" %}

{% block content %}

<div class="m-3 rounded-lg">
    <table class=" w-full text-center rounded-lg">
        <thead class="bg-blue-900 text-white">
            <th>Participant List</th>
            <th>Medical Records</th>
            <th>Action</th>
        </thead>
        <tbody class="">
            <tr>
                <td class="flex justify-center">
                    <div class=" flex gap-2 items-center">
                        <div>
                            <img src="../static/image/participant.jpg" class=" h-[7vw] rounded-lg" alt="profile pic">
                        </div>
                        <div class=" text-left text-[1.2vw] font-semibold">
                            <label class=" pr-[5vw]">Name:</label>
                            <span>Jonathan Duke</span>
                            <br>
                            <label class="pr-[0.5vw]">Date of Birth:</label>
                            <span>1/10/2024</span>
                            <br>
                            <label class=" pr-[4.8vw]">Phone:</label>
                            <span>xxx-xxx-xxxx</span>
                            <br>
                            <label class=" pr-[3.8vw]">Address:</label>
                            <span>New york</span>
                        </div>
                    </div>
                </td>

                <td>11</td>
                <td>11</td>
            </tr>
            <tr>
                <td>11</td>
                <td>11</td>
                <td>11</td>
            </tr>
            <tr>
                <td>11</td>
                <td>11</td>
                <td>11</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}