{% extends "home.html" %}

{% block theme %}
<div class=" border border-solid rounded-full bg-blue-950 text-white w-full flex items-center text-sm p-1 pr-2">
    <input type="search" name="search" id="" placeholder="Search" class=" pl-3 w-full rounded-r-full bg-inherit">
    <i class="fa-solid fa-magnifying-glass"></i>
</div>
{% endblock %}

{% block participant %}
Participants - <span class=" italic font-thin">Jonathan Duke</span>
{% endblock %}

{% block back %}
<div class=" text-white bg-blue-950 p-1 pr-2 pl-2 rounded-full">
    <i class="fa-solid fa-arrow-left"></i>
</div>
{% endblock %}

{% block create %}

{% endblock %}

{% block content %}
<div class="flex justify-around text-center">
    <div>
        <img src="../static/image/profile.png" alt="profile" class=" h-[8vw]">
        <p class=" text-blue-900 font-bold text-sm">Profile</p>
    </div>
    <a href="/prescription">
        <img src="../static/image/medication.png" alt="medication" class=" h-[8vw]">
        <p class=" text-blue-900 font-bold text-sm">Medication</p>
    </a>
    <div>
        <img src="../static/image/vitals.png" alt="vitals" class=" h-[8vw]">
        <p class=" text-blue-900 font-bold text-sm">Vitals</p>
    </div>
    <div>
        <img src="../static/image/daily_notes.png" alt="daily" class=" h-[8vw]">
        <p class=" text-blue-900 font-bold text-sm">Daily Notes</p>
    </div>
    <div>
        <img src="../static/image/activities.png" alt="activities" class=" h-[8vw]">
        <p class=" text-blue-900 font-bold text-sm">Activities</p>
    </div>
    <div>
        <img src="../static/image/logs.png" alt="logs" class=" h-[8vw]">
        <p class=" text-blue-900 font-bold text-sm">In & Out Logs</p>
    </div>
</div>
{% endblock %}

{% block create_form %}

{% endblock %}